table {
  border-collapse: collapse;
  margin: 7px;
  td {
    border: 1px solid brown;
    padding: 3px;
  }
}
button {
    margin: 7px;
    padding: 7px;
    &:hover {
        cursor: pointer;
    }
}
