@mixin container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  margin: 7px 0px;
}
table {
  margin: 7px auto;
  td {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 3px;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  button {
    margin: 7px;
  }
}
.user-posts-container {
  @include container()
  
}
.user-todos-container {
  @include container()
}
.user-albums-container {
  @include container()
}
