.album-item {
  width: 1000px;
  padding: 7px;
  background-color: rgba(135, 207, 235, 0.6);
  border-radius: 8px;
  .user-photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    app-user-photo {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 6px;
      width: 100px;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .selected-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px 0px;
    app-user-photo {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 8px;
      width: 500px;
    }
  }
}
button {
  margin: 7px 0px;
}
